{% extends 'base.html' %}
{% load staticfiles %}
{% block metadescription %}
    TED BACKER
{% endblock %}
{% block title %}
    Cart
{% endblock %}
{% block content %}
    {% if not cart_items %}
    <div>
        <div class="text-center">
            <br>
            <h1 class="text-center my_title"> 
                Your shopping cart is empty
            </h1>
            <br>
            <p class="text-center">
                Please click <a href="{% url 'shop:allProCat'%}">here to contin</a>
            </p>
        </div>
    </div>
    {% else %}
    <div >
        <div class="text-center">
            <br>
            <h1 class="text-center my_title"> 
                Your shopping cart
            </h1>
            <br>
        </div>
    </div>
     <div class="row mx-auto">
        <div class="text-center col-12 col-sm-12 col-md-12 col-lg-6">
            <table class="table tb_custom_table">
                <thread class="tb_custom_thread"> 
                    <tr>
                        
                    </tr>
                </thread>
            </table>
        </div>
    </div>
{% endblock %}
