{% extends "base.html" %} 
{% load staticfiles %} 
{% block metadescription %} 
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %} 
        Welcome to the TedBacker store 
    {% endif %} 
{% endblock %} 
{% block title %}
    {% if category %}
        {{ category.name }} - TedBacker Store
    {% else %} 
        See our new Collection - TED BACKER store
    {% endif %} 
{% endblock %}
{% block content %}
    <!-- NAV -->
    {% if category %}
        <div class="row tb_row_class">
            <div class="mx-auto">
                <p><a href="{% url 'tb_shop:allProdCat' %}">Our Product Collection</a> | {{category.name}}</p>
            </div>
        </div>
    {% endif %}
    <div class="mx-auto">
    {% if category %}
        <img class="tb_image" src="{{category.img.url}}" alt="{{category.name}}">
    </div>
    <br>
    <div>
        <h1 class="text-center tb_title">{{category.name}}</h1>
        <p class="text-justify">{{category.description}}</p>
    </div>
    {% else %}
        <img class="tb_image tb_image_padding" src="{% static 'img/ted_backer.jpeg' %}" alt="Our products collection">
    </div>
    <br>
    <div>
        <h1 class="text-center tb_title">Our products collections</h1>
        <p class="text-justify"> Our products collectionsOur products collectionsOur products collectionsOur products collectionsOur products collectionsOur products collectionsOur products collections
        Our products collectionsvOur products collectionsOur products collections
        Our products collectionsOur products collectionsOur products collectionsOur products collections
        Our products collectionsOur products collections
        </p>
    </div>
    {% endif %}
    <div class="container">
        <div clas="row mx-auto">
            {% for product in products.object_list %}
                <div class="tb_button_margin col-9 col-sm-12 col-rd-4 col-md-12 col-lg-4">
                    <div class="text-center card" style="min-width: 18rem;">
                        <a href="{{product.get_url}}"><img class="tb_image card-img-top"src="{{product.image.url}}" alt={{product.name}}></a>
                        <div class="card">
                            <h4>{{product.name}}</h4>
                            <p>KZT {{product.price}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %} 
        </div>
        <div class="mx-auto"> 
            {% if products.paginator.num_pages > 1 %}
                <hr>
                <div class="text-center">
                    {% for pg in products.paginator.page_range%}
                        <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %}active{% endif %}">{{pg}}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <br>
    </div>
{% endblock %}
